.email-vieww {
    display: flex;
    background-color: #F9FAFB;
    gap: 15px;
    flex: 1;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    color: #636363;
}

.avatar {
    background-color: #E54065;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.email-body {
    flex: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
    max-width: 100%;
}

.body-subject {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
}

.email-date {
    font-size: 12px;
}

.email-details {
    display: flex;
    flex-direction: column;
}

.subject-fav-div {
    display: flex;
    justify-content: space-between;
}

.subject-fav-div button {
    border: none;
    border-radius: 20px;
    background-color: #E54065;
    color: white;
    height: 33px;
    padding: 0px 20px;
    font-weight: 300;
}

